
/*navbar*/

.jumbotron{
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/506/903/original/set-of-musical-notes-on-five-line-clock-notation-without-a-feature-treble-clef-free-vector.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
  border-radius: 0px !important;
}

.jumbotron h1{
  margin: 20px 0;
  font-size: 30px;
  line-height: 1.5;
}
.intro img{
  filter: opacity(2.7);
  margin-top: 160px;
  margin-right: 110px;
  margin-bottom: -20px;
  height: 400px;
}


.navbar-nav a{
  font-family: Impact;
  color: black;
  margin: 0 20px;
  margin-top: 30px;
}

.navbar-toggler{
  color: white;
  border: none!important;
  outline: none!important;
}

.nav-link:hover{
  font-weight: 600px;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

.intro .btn{
  border: 1px solid white;
  padding: 6px 26px;
  font-size: 16px;
}

/*fim da navbar*/

/*Competencias*/

.diferenciais {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.diferenciais__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.diferenciais__item {
    max-width: 350px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top 1.25rem left 1.9rem;
    padding: 2rem 0 2rem 5rem;
    
}

.diferenciais__item--tempo {
  background-image: url(../../../images/icons8-tempo-de-entrega-48.png);
}

.diferenciais__item--foco {
  background-image: url(../../../images/icons8-moedas-48.png);
 
}

.diferenciais__item--especialistas {
  background-image: url(../../../images/icons8-visualizar-arquivo-48.png);

}

.item__titulo {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

}

.item__texto {
  line-height: normal;
}

.teste{
  background-color: #8d4925;
}

/*fim das competencias*/

/*sobre*/


.sobre {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.sobre__titulo {
  color: var(--cinza-escuro);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 1.25rem;
}

.sobre__texto {
  line-height: normal;

  margin-bottom: 1rem;
}

.sobre__texto--destaque {
  color: var(--cinza-escuro);
  font-weight: 700;
}

.sobre__plataformas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-bottom: 1rem;
}

.sobre__imagem {
  display: none;
}

.icone-sobre{
  background-color: #8d4925;
}

/*fim do sobre*/

/*planos*/


.planos {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.planos__titulo {
  color: #8d4925;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}

.planos__cartoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartao {
  display: flex;
  flex-direction: column;
  background-color: #f0ecec;
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px 2px #00000010;
}

.cartao__titulo {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  padding: .75rem 0;
  margin-bottom: .5rem;
  border-bottom: 1px solid black;
}

.cartao__conteudo {
  padding: 0 15%;
}

.cartao__preco {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-top: 1.10rem;
  margin-bottom: 1.10rem;
}

.cartao__texto {
  color: darkgray;
  line-height: 28px;
}

.cartao__botao {
  color: white;
  font-size: 1.2rem;
  font-weight: 200px;
  width: 100%;
  align-self: center;
  padding: .75rem 2rem !important;
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}
.cartao__botao:hover{
  color: darkgray;
}

.cartao--start {
  color: #8d4925;
}

.cartao--ultra {
  color: black;
}

.cartao--mega {
  color: #8d4925;
}

.cartao__botao--start {
  border-color: black;
}

.cartao__botao--ultra {
  border-color: #8d4925;
}

.cartao__botao--mega {
  border-color: black;
}
.botao{
  background-color: #8d4925;
  height: 5px;
}

/*fim do planos*/


/*responsividade*/


@media screen and (min-width: 1024px) {
  .diferenciais {
      background-color: #f0ecec;
  }

  .diferenciais__lista {
      justify-content: space-around;
  }
  .planos__cartoes {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.cartao {
    max-width: 300px;
}
.cartao__botao { 
  font-size: 1.0rem !important;
  }
}

@media only screen and (max-width: 1000px){
  .navbar{
      background-color: rgb(0, 0, 0,0.8);
  }
  .navbar-nav a{
      margin: 0px 5px 0 17px;
      margin-top: 30px;
      color: white;
  }

  .nav-link:hover{
      border-bottom: none;
  }
  .intro{
      padding-top: 110px;
  }
  .jumbotron h1{
    margin: 10px 0;
    font-size: 30px;
    line-height: 1.5;
  }
  .intro img{
    filter: opacity(2.7);
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: -10px;
    height: 300px;
  }
  .cartao__botao { 
  font-size: 1.0rem !important;
  }
}




@media screen and (min-width: 1024px) {
  .sobre {
      display: flex;
  }

  .sobre__conteudo {
      margin-right: 3rem;
  }

  .sobre__titulo {
      text-align: left;
  }

  .sobre__texto--divisao {
      border-bottom: 1px solid var(--cinza-medio);
      padding-bottom: 1.5rem;
  }

  .sobre__imagem {
      display: block;
  }

  .intro{
    padding-top: 110px;
}
.jumbotron h1{
  margin: 10px 0;
  font-size: 30px;
  line-height: 1.5;
}
.intro img{
  filter: opacity(2.7);
  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: -10px;
  height: 300px;
}
.cartao__botao { 
font-size: 1.0rem !important;
}
}

@media screen and (min-width: 768px) {
  .cartao {
      max-width: 400px;
  }

}


@media only screen and (max-width: 600px){
  .jumbotron h1{
      font-size: 16px;
      line-height: 1.7;
}
.intro{
    padding-top: 100px;
}

.intro img{
  margin-top: 100px;
  height: 300px;
  margin-bottom: -3px;
}
}
/* fim da responsividade*/